<div class="player-section">
  <div class="video-section">
    <video controls>
      <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
      <source src="mov_bbb.ogg" type="video/ogg" />
      Your browser does not support HTML video.
    </video>
  </div>
  <div class="video-title">
    <h6>Video Title</h6>
  </div>
  <div class="video-des">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil iure
      cumque nisi dolor dicta at! Nam fugit earum, eligendi ab quibusdam ducimus
      nesciunt saepe doloremque, odio, illum expedita ipsum aliquid.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil iure
      cumque nisi dolor dicta at! Nam fugit earum, eligendi ab quibusdam ducimus
      nesciunt saepe doloremque, odio, illum expedita ipsum aliquid.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil iure
      cumque nisi dolor dicta at! Nam fugit earum, eligendi ab quibusdam ducimus
      nesciunt saepe doloremque, odio, illum expedita ipsum aliquid.
    </p>
  </div>
</div>
