{% extends 'basic\nav.html' %}
{% load static %}

{% block style %}
.form-container{
    background-image: url('{% static 'images/DW1.png' %}');
    background-repeat: no-repeat;
    background-size: 150px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-blend-mode: multiply;
}

form{
    background: #000605;
    padding: 40px;
    border-radius: 10px;
}

label{
    font-size: 14px;
}
{% endblock %}


{% block content %}
<div class="form-container h-100vh w-100" >
</div>
{% endblock %}


