<div class="home-section">
    <div class="introduction">
      <div class="title">
        <h4>Want to get <br /> dance instructions from <br /> Our certified instructors ?</h4>
        <h5>This is right place for you.</h5>
        <div [routerLink]="['/login']" >
          <button type="button" class="btn btn-primary">Get Started</button>
        </div>

      </div>
      <div class="image">
          <img src="../../assets/home/dance_home.jpg" alt="image">
      </div>
    </div>
    <div class="about-section">
         <h4>About Online Dance Class</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque facilis vel cum quod, necessitatibus provident. Obcaecati nisi voluptas illo quia corrupti, nesciunt cupiditate perspiciatis pariatur. Unde voluptatibus ut eum?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque facilis vel cum quod, necessitatibus provident. Obcaecati nisi voluptas illo quia corrupti, nesciunt cupiditate perspiciatis pariatur. Unde voluptatibus ut eum?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque facilis vel cum quod, necessitatibus provident. Obcaecati nisi voluptas illo quia corrupti, nesciunt cupiditate perspiciatis pariatur. Unde voluptatibus ut eum?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque facilis vel cum quod, necessitatibus provident. Obcaecati nisi voluptas illo quia corrupti, nesciunt cupiditate perspiciatis pariatur. Unde voluptatibus ut eum?</p>
    </div>
  </div>
