<nav class="navbar navbar-light bg-light header-section">
  <div class="container-fluid">
    <div style="color: #fff">
      <img
        [routerLink]="['/']"
        class="logo"
        src="../../../assets/logo/logo.png"
        alt=""
      />
      <!-- LOGO -->
    </div>
    <div class="right-section">
      <div class="search">
        <div class="input-group">
          <input
            type="search"
            id="input"
            class="form-control"
            aria-label="Search"
            aria-describedby="search-addon"
            formControlName="search"
          />
          <span class="material-icons" id="search-addon"> search </span>
        </div>
      </div>
      <div clickOutside (clickOutside)="clickedOutside()">
        <div (click)="handleProfile()" class="profile">
          <span class="material-icons"> account_circle </span>
        </div>
      </div>

      <div *ngIf="profile" class="profile-dropdown">
        <div>
          <div [routerLink]="['/login']" class="menu">
            <div class="menu-item">
              <span class="material-icons"> account_circle </span>
              <a class="dropdown-item">Login</a>
            </div>
          </div>
          <div [routerLink]="['/register']" class="menu">
            <div class="menu-item">
              <span class="material-icons"> account_circle </span>
              <a class="dropdown-item">Signup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
