<div class="login-page">
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h4>Login</h4>
      <div
        [ngClass]="
          loginForm.controls.email.errors &&
          (loginForm.controls.email.dirty ||
            loginForm.controls.email.touched ||
            loginRequest)
            ? 'has-error'
            : ''
        "
      >
        <input
          type="email"
          placeholder=" Enter your Email"
          formControlName="email"
        />
        <div
          id="email-error-msg"
          class="message"
          *ngIf="
            loginForm.controls.email.errors &&
            (loginForm.controls.email.dirty ||
              loginForm.controls.email.touched ||
              loginRequest)
          "
        >
          <ng-container *ngIf="loginForm.controls.email.errors?.required">
            <div id="blank-email-error" class="help-block text-danger">
              <p>Required !!</p>
            </div>
          </ng-container>
        </div>
      </div>
      <div
        [ngClass]="
          loginForm.controls.password.errors &&
          (loginForm.controls.password.dirty ||
            loginForm.controls.password.touched ||
            loginRequest)
            ? 'has-error'
            : ''
        "
      >
        <input
          type="password"
          placeholder="password"
          formControlName="password"
        />
        <div
          id="email-error-msg"
          class="message"
          *ngIf="
            loginForm.controls.password.errors &&
            (loginForm.controls.password.dirty ||
              loginForm.controls.password.touched ||
              loginRequest)
          "
        >
          <ng-container *ngIf="loginForm.controls.password.errors?.required">
            <div id="blank-email-error" class="help-block text-danger">
              <p>Required !!</p>
            </div>
          </ng-container>
        </div>
      </div>
      <button>login</button>
      <p class="message">
        Not registered? <a [routerLink]="['/register']">Create an account</a>
      </p>
    </form>
  </div>
</div>
