<div class="style">
  <h4>Learn Different dance styles!!</h4>
  <div class="style-list">
    <div [routerLink]="['/hiphop']">
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div>
        <p>Hiphop</p>
      </div>
    </div>
    <div [routerLink]="['/hiphop']">
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div><p>Popping</p></div>
    </div>
    <div [routerLink]="['/hiphop']">
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div><p>House</p></div>
    </div>
    <div [routerLink]="['/hiphop']">
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div><p>House</p></div>
    </div>
    <div [routerLink]="['/hiphop']">
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div><p>House</p></div>
    </div>
    <div [routerLink]="['/hiphop']">
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div><p>House</p></div>
    </div>
  </div>
</div>
