<div class="events-section">
  <div class="title">
    <p>Upcoming Events</p>
  </div>

  <div *ngFor="let data of eventdata"  class="event-list">
    <div class="event">
      <p class="event-title">{{data.name}}</p>
      <p class="event-des">
       {{data.description}}
      </p>
    </div>
    <div class="organizer">
      <p>Online Dance Class</p>
    </div>
    <div class="date">
      <p><strong>Date:</strong> {{data.event_date | date}} </p>
      <p><strong>Venue:</strong> {{data.venue}}</p>
    </div>
  </div>

</div>
