<div class="events-section">
  <div class="title">
    <p>Upcoming Events</p>
  </div>

  <div class="event-list">
    <div class="event">
      <p class="event-title">Dance Class from Samikshya</p>
      <p class="event-des">
        Online dance class from samikshya coming next saturday
      </p>
    </div>
    <div class="organizer">
      <p>Online Dance Class</p>
    </div>
    <div class="date">
      <p><strong>Date:</strong> 2023/01/09</p>
      <p><strong>Venue:</strong> Gongabu</p>
    </div>
  </div>
  <div class="event-list">
    <div class="event">
      <p class="event-title">Dance Class from Samikshya</p>
      <p class="event-des">
        Online dance class from samikshya coming next saturday
      </p>
    </div>
    <div class="organizer">
      <p>Online Dance Class</p>
    </div>
    <div class="date">
      <p><strong>Date:</strong> 2023/01/09</p>
      <p><strong>Venue:</strong> Gongabu</p>
    </div>
  </div>
  <div class="event-list">
    <div class="event">
      <p class="event-title">Dance Class from Samikshya</p>
      <p class="event-des">
        Online dance class from samikshya coming next saturday
      </p>
    </div>
    <div class="organizer">
      <p>Online Dance Class</p>
    </div>
    <div class="date">
      <p><strong>Date:</strong> 2023/01/09</p>
      <p><strong>Venue:</strong> Gongabu</p>
    </div>
  </div>
</div>
