<div class="blog">
  <h4>Latest News</h4>
  <div class="row">
    <div class="col-lg-4">
      <div class="blog-list" [routerLink]="['/blog-details']">
        <div class="blog-image">
          <img src="../../assets/style.jfif" alt="" />
        </div>
        <div class="title">
          <p>Why Every Dance class should take a begineer class.</p>
        </div>
        <div class="date">
          <span>2023/04/04</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="blog-list" [routerLink]="['/blog-details']">
        <div class="blog-image">
          <img src="../../assets/style.jfif" alt="" />
        </div>
        <div class="title">
          <p>Why Every Dance class should take a begineer class.</p>
        </div>
        <div class="date">
          <span>2023/04/04</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="blog-list" [routerLink]="['/blog-details']">
        <div class="blog-image">
          <img src="../../assets/style.jfif" alt="" />
        </div>
        <div class="title">
          <p>Why Every Dance class should take a begineer class.</p>
        </div>
        <div class="date">
          <span>2023/04/04</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="blog-list">
    <div>
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div>
        <p>Why Every Dance class should take a begineer class.</p>
      </div>
    </div>
    <div>
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div>
        <p>How to take online dance class?</p>
      </div>
    </div>
    <div>
      <div>
        <img src="../../assets/style.jfif" alt="" />
      </div>
      <div>
        <p>Team Samikshya Dance Interview.</p>
      </div>
    </div>
  </div> -->
</div>
