{% extends 'basic\nav.html' %}
{% load static %}

{% block style %}
.form-container{
    background-image: url('{% static 'images/dancebg.png' %}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88.2vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    background-blend-mode: multiply;
}

form{
    background: #000605;
    padding: 40px;
    border-radius: 10px;
}

label{
    font-size: 14px;
}
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="form-container h-100vh w-100" >
    <form method="POST" class="shadow-lg" style="width: 35%;">  
        {% csrf_token %}  
        <h3 class="mb-4 text-center" style="color: white;">Welcome Back!</h3>
        {% if error_msg_unapproved %} <span class="error-msg">{{error_msg_unapproved}}</span> {% endif %} 

        <div class="form-group mt-2">
            
            <label for="",  style="color: white;">Username {% if error_msg %} <span class="error-msg ml-2">{{error_msg}}</span> {% endif %} </label>
            <input type="text" name="username" class="form-control" placeholder="Enter username" required>
        </div>

        <div class="form-group">
            <label for="", style="color: white;">Password {% if error_msg %} <span class="error-msg ml-2">{{error_msg}}</span> {% endif %} </label>
            <input type="password" name="password" class="form-control" placeholder="Enter password" required>
        </div>
    
        {% comment %} {% if notapproved %}
        <div>
          <span style="color:red">Sorry your account has not been approved</span>
        </div>
        {% endif %} {% endcomment %}
    
        <button type="submit" class="app-btn w-100 mt-2">Login</button>  
    </form>  
</div>
{% endblock %}
