{% extends 'basic\main.html' %}
{% load static %}

{% block nav %}
    <div class="sidebar" style="width: 100%; background-color: #000605; height: 100vh; position: fixed;">
        <div class="icon-container h-100 d-flex flex-column justify-content-center align-items-center" style="width: 5%">
            <a href="{% url 'adminDashboard' %}"><i class="fa-solid fa-house my-4" style="font-size: 20px; color: #ffffff"></i></a>
            <a href="{% url 'logout_user' %}"><i class="fa-solid fa-right-from-bracket my-4" style="font-size: 20px; color: #ffffff"></i></a>
        </div>
    </div>
{% endblock %}
