.menu {
    background-color: rgb(249, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    /* margin: 0px 20px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu .menu-item a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.menu p {
    margin: 0;

}

.active {
    text-decoration: underline !important;
    color: #000 !important;
}