<div class="style">
  <div class="home-styles">
    <p>Home > Styles</p>
  </div>
  <div class="wrapper">
    <div class="title">
      <h4>Styles</h4>
    </div>
    <div class="filter">
      <div class="level">
        <p>Level:</p>
      </div>
      <div>
        <p>Beginner</p>
      </div>
      <div>
        <p>Intermediate</p>
      </div>
      <div>
        <p>Advance</p>
      </div>
    </div>
  </div>

  <div class="row style-list">
    <div class="col-lg-4">
      <div [routerLink]="['/watch']">
        <div class="style-image">
          <img src="../../assets/style.jfif" alt="" />
        </div>
        <div class="price">
          <div>
            <p>Hiphop</p>
          </div>
          <div>
            <p>5$</p>
          </div>
        </div>
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam
            ullam eveniet eligendi illum laudantium necessita
          </p>
        </div>
        <div class="preview">
          <button type="button" class="btn btn-primary">Preview</button>
        </div>
        <div class="watch">
          <button type="button" class="btn btn-primary">Pay and Watch</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div [routerLink]="['/watch']">
        <div class="style-image">
          <img src="../../assets/style.jfif" alt="" />
        </div>
        <div class="price">
          <div>
            <p>Popping</p>
          </div>
          <div>
            <p>5$</p>
          </div>
        </div>
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam
            ullam eveniet eligendi illum laudantium necessita
          </p>
        </div>
        <div class="preview">
          <button type="button" class="btn btn-primary">Preview</button>
        </div>
        <div class="watch">
          <button type="button" class="btn btn-primary">Pay and Watch</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div [routerLink]="['/watch']">
        <div class="style-image">
          <img src="../../assets/style.jfif" alt="" />
        </div>
        <div class="price">
          <div>
            <p>Hiphop</p>
          </div>
          <div>
            <p>5$</p>
          </div>
        </div>
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam
            ullam eveniet eligendi illum laudantium necessita
          </p>
        </div>
        <div class="preview">
          <button type="button" class="btn btn-primary">Preview</button>
        </div>
        <div class="watch">
          <button type="button" class="btn btn-primary">Pay and Watch</button>
        </div>
      </div>
    </div>
  </div>
</div>
