{% extends 'basic\sidebar.html' %}
{% load static %}

{% block style %}
.dashboard-container{
    position: relative;
    {% comment %} height: 100%; {% endcomment %}
    height: 100vh;
    background: #F5F7FB;
    left: 5%;
    width: 95%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 15px 30px;
}  

.total-users{
    width: fit-content;
    text-align: center;
    padding: 20px 30px;
    border-radius: 15px;
}

i{
    color: #3AAFA9;
    font-size: 40px;
}

.total-users-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

{% endblock %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h1>This is Admin Dashboard</h1>

        <div class="total-users bg-white shadow-sm">          
            <h6 class="mb-1">Total Other Users:</h6>
            <p style="font-size: 22px; font-weight: 400;"> {{total_users}} </p>
        </div>
    </div>
</div>
{% endblock %}